@charset "utf-8";
/* CSS Document */
/*******************
RESET
*******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
vertical-align: baseline;
}

:focus {
outline: 0;
}

body {
line-height: 1;
color: black;
background: white;
}

ol, ul {
list-style: none;
}

table {
border-collapse: separate;
border-spacing: 0;
}

caption, th, td {
text-align: left;
font-weight: normal;
}

/*******************
Main Content
*******************/

body {
		font-family: Open Sans, Helvetica Neue, Arial, sans-serif;
		font-size: 1em;
		text-transform:lowercase;
		line-height:1.5em;
}

#container {
	width:70%;
	max-width:950px;
	margin:2% auto;
}

#hr {
	height:.5em;
	widgth:100%;
	background-color:#4cbb17;
	margin:1em 0;
}

/*******************
Links
*******************/

a {
	color:#4CBB17;
}


/*******************
Headings
*******************/
h1, h2 {
	font-family: Bree Serif, Consolas, Serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size:1.6em;
	margin-bottom:.5em;
}

h3 {
	font-size:1.4em;
}

h4 {
	font-size:1.2em;
}




/*******************
Sections
*******************/
#me, #skills, #work, #education {
	margin-bottom:2em;
}

.subsec {
	margin-left:1em;
	margin-bottom:1em;
}

/*******************
Me
*******************/



/*******************
Experience
*******************/
.jobdesc {
	list-style:square;
	margin: 1% 2%;
}




