@charset "utf-8";
/* CSS Document */

body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}



#container {
	width:90%;
	margin: 0 auto;
}



/*******************
Intro Loader
*******************/

.intro-content {
	text-align:center;
	max-width: 500px;
	margin: 0 auto;
	background-color: white;
}

.intro-content a {
	text-decoration:none;
	padding: 1em;
}

.intro-content button {
	height:50px;
	width:50px;
	border-radius:20%;
}


/*******************
Main Content
*******************/

#wrapper {
	display:none;
	margin: 0 auto;
}

/*******************
Headers
*******************/
h1 {
	font-size:3em;	
}

h2 {
	font-size:2em;
	color:#4CBB17;
}

h3 {
	font-size:1.5em;
	color:#4CBB17;
}

#wrapper h1 {
	text-align:center;	
}

.tabby a {
	color:#4CBB17;
}

/*******************
Navigation
*******************/

nav {
	background-color:#4CBB17 ;
	padding: 1em;
	margin: 1em auto;
	text-align:center;
}

nav a {
	text-decoration:none;
	color:white;
	padding:1em;
}

nav a:hover{
	text-decoration:underline;	
}


/*******************
Tabs
*******************/

.tabby {
	min-height:360px;
	display:none;
	border: dashed;
	border-color: rgba(255,168,222,1.00);	
	padding: 5%;
}

.active {
	display:block;	
}


#contact a{
	padding-right:1em;
}

/*******************
Smaller Screens
*******************/
@media (max-width:480px) {

	.tabby {
		display:block;
		border:none;
}










