* {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #F1F3F0;
  color: #201E24;
  margin: 0;
  padding: 0; }

section {
  margin-top: 100px;
  min-height: 40vh;
  padding-top: 72px; }
  section h1 {
    color: #D32F36;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 32px;
    border-bottom: 1px solid #E7A18C;
    font-weight: 800; }
  section h2 {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 500; }
  section p {
    font-size: 20px; }

.btn {
  background-color: #E2B925;
  border-color: #E2B925;
  color: #F1F3F0; }
  .btn:hover {
    background-color: #de7f62;
    border-color: #de7f62;
    color: #F1F3F0; }
  .btn:focus {
    background-color: #E7A18C;
    border-color: #E7A18C; }

.btn-outline-primary {
  background-color: #F1F3F0;
  border-color: #E7A18C;
  color: #E7A18C; }
  .btn-outline-primary:hover {
    background-color: #e9ece8;
    color: #E7A18C; }
  .btn-outline-primary:focus {
    background-color: #E7A18C;
    border-color: #E7A18C;
    color: #F1F3F0; }

/****** NAV ******/
.navbar {
  margin: 0;
  background-color: transparent;
  border-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #E7A18C;
  font-size: 24px; }
  .navbar a {
    color: #E7A18C;
    letter-spacing: 4px;
    margin-left: 12px; }
    .navbar a:hover {
      color: #D32F36;
      border-bottom: 1px solid #F1F3F0; }

.fa-reorder {
  color: #E7A18C; }

.solid {
  background-color: #F1F3F0;
  border-bottom: 0.1px solid #bcc6b7; }

.navbar-brand {
  font-size: 1em; }

@media screen and (max-width: 480px) {
  .navbar {
    background-color: #F1F3F0; }

  .intro {
    padding-top: 20%; } }
/****** Jumbotron ******/
.intro {
  min-height: 65vh;
  color: #E7A18C;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png"); }
  .intro h1 {
    font-size: 96px;
    font-weight: 800;
    text-transform: uppercase; }
  .intro .container {
    margin: 0 auto;
    padding-top: 15%; }
    .intro .container h1,
    .intro .container h2 {
      margin-bottom: 0.5em; }

@media screen and (min-width: 1025px) {
  .intro {
    min-height: 99vh; } }
/****** about ******/
#about p a {
  color: #D32F36; }
#about img {
  border: 5px solid #E7A18C; }

@media screen and (min-width: 600px) {
  .bio {
    margin-top: 2em; } }
/****** Skills ******/
#skills {
  background-color: #F1F3F0;
  color: #201E24; }

.skill-box {
  max-width: 450px;
  margin: 60px auto; }
  .skill-box .devicon {
    font-size: 5em; }

@media (min-width: 992px) {
  .skill-box {
    margin: 20px auto; } }
/****** Portfolio ******/
.image {
  display: block;
  max-width: 96%;
  height: auto;
  padding: 5px; }

.overlay {
  color: #F1F3F0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 96%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E2B925; }
  .overlay a {
    color: #F1F3F0; }

.portfolio-box:hover {
  cursor: pointer; }
  .portfolio-box:hover .overlay {
    opacity: 1; }

.overlay-text {
  font-size: 0.8em;
  position: absolute;
  padding: 0.5em; }
  .overlay-text h2 {
    font-size: 1.8em; }
  .overlay-text p {
    font-size: 1.2em; }

/****** MAP ******/
#map {
  width: 100%;
  height: 400px;
  background-color: #201E24; }

@media screen and (max-width: 480px) {
  .overlay-text h2 {
    font-size: 1.3em; }
  .overlay-text p {
    font-size: 0.7em; } }
/****** Contact ******/
#contact a {
  color: #E7A18C; }
  #contact a:hover {
    color: #D32F36; }
  #contact a i {
    font-size: 5em; }

/****** Footer ******/
footer {
  padding: 1em 0;
  background-color: #E7A18C;
  color: #F1F3F0; }

/*# sourceMappingURL=style.css.map */
