$light: #F1F3F0;
$lightaccent:#E2B925;
$main: #E7A18C;
$darkaccent:#D32F36;
$dark:#201E24;

* {
    margin: 0;
    padding: 0;
}

html,
body
{
    font-family: "Open Sans", Arial, sans-serif;
    background-color: $light;
    color: $dark;
    margin: 0;
    padding: 0;
}

section {
    // padding: 100px 0;
    // margin-bottom: 100px;
    margin-top: 100px;
    min-height:40vh;
    padding-top:72px;
    h1 {
      color:$main;
        font-size: 48px;
        text-transform: uppercase;
        margin-bottom:32px;
        border-bottom: 1px solid $main;
        font-weight: 800;
    }
    h2 {
        font-size: 32px;
        margin-bottom:24px;
        font-weight: 500;
    }
    p{
      font-size:20px;
    }
}


.btn {
	background-color: $lightaccent;
	border-color: $lightaccent;
  color:$light;
	&:hover {
		background-color:darken($main, 10%);
		border-color:darken($main, 10%);
    color: $light;
	}
    &:focus {
        background-color: $main;
        border-color: $main;
    }
}

.btn-outline-primary {
	background-color:$light;
	border-color: $main;
	color:$main;
	&:hover {
		background-color: darken($light, 3%);
		color:$main;
	}
    &:focus {
        background-color: $main;
        border-color: $main;
        color:$light;
    }
}


/****** NAV ******/

.navbar {
    margin: 0;
    background-color: transparent;
    border-color:transparent;
    background-image:none;
    box-shadow:none;
    color: $main;
    font-size:24px;
    a {
      color:$main;
      letter-spacing: 4px;
      margin-left:12px;
      // font-size: 24px;

      &:hover{
        color:$darkaccent;
        border-bottom: 1px solid $light;
      }
    }
}

.fa-reorder {
  color:$main;
}

.solid {
  background-color: $light;
  border-bottom:0.1px solid darken($light, 20%);
}

.navbar-brand {
    font-size: 1em;
}

@media screen and (max-width: 480px) {
    // .navbar-brand {
    //     font-size: 24px;
    // }

    .navbar{
      background-color: $light;
    }

    .intro {
        padding-top:20%;
    }
}


/****** Jumbotron ******/

.intro {
    min-height: 65vh;
    color:$main;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    // background-image: url("../assets/gabriel-beaudry-93842.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    h1 {
      font-size: 96px;
      font-weight:800;
      text-transform: uppercase;
    }
    .container {
        // max-width: 85%;
        margin: 0 auto;
        padding-top: 15%;
        h1,
        h2 {
            margin-bottom: 0.5em;
        }
    }
}


@media screen and (min-width: 1025px) {
    .intro {
        min-height: 99vh;
    }
}

/****** about ******/

#about {
  p{
    a {
      color:$darkaccent;
    }
  }
  img {
    border: 5px solid $main;
  }
}

@media screen and (min-width: 600px) {
    
    .bio {
        margin-top: 2em;
    }
}


/****** Skills ******/
#skills {
  background-color: $light;
  color: $dark;
}
.skill-box {
    max-width: 450px;
    margin: 60px auto;
    .devicon {
        font-size: 5em;
    }
}

@media (min-width: 992px) {
    .skill-box {
        margin: 20px auto;
    }
}

/****** Portfolio ******/


.image {
  display: block;
  max-width: 96%;
  height: auto;
  padding:5px;
}

.overlay {
  color:$light;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 96%;
  opacity: 0;
  transition: .5s ease;
  background-color: $lightaccent;
  a {
    color:$light;
  }
}

.portfolio-box {
  &:hover {
    cursor:pointer;
        .overlay {
    opacity: 1;
}
    }
}

.overlay-text {
    // color: #fff;
  font-size: 16px;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/****** MAP ******/

#map {
    width: 100%;
    height: 400px;
    background-color: $dark;
}

@media screen and (max-width: 480px) {
    .overlay-text {
        h2 {
            font-size:1.3em;
        }
        p {
            font-size:0.7em;
        }
    }
}


/****** Contact ******/

#contact {
    a {
    	color: $dark;
    	&:hover {
    		color: $darkaccent;
    	}
        i {
            font-size: 5em;
        }
    }
}


/****** Footer ******/

footer {
    padding: 1em 0;
    background-color: $main;
    color: $light;
}
