

html,body {
    height:100%;
    width:100%;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 2em;
    color:#303133;
    background-color:floralwhite;
}

ul {
    margin-bottom:1em;
}

.btn {
    background-color: floralwhite;
}


h1 {
    font-family: "Arvo", serif;
    font-size:3.5em;
}

.cerita {
    color:#8956f8;
    font-weight: 700;
}

.cerita:hover {
    color:#FE11ED;
}


#about {
		min-height: 100%;
		padding-top: 15%;
}

.btn {
    border-style:none;
}

.btn:hover {
    color:#8956f8;
    background-color:floralwhite;
}

